.ionide
bin
obj
packages
x64
*.drama
*.vcxproj.*

/.idea
/.vs
/.vscode/*
!extensions.json
/libNovelGameCpp.dylib
/libNovelGameCpp.so
/save_data.sqlite3

# Created by https://www.toptal.com/developers/gitignore/api/sbt
# Edit at https://www.toptal.com/developers/gitignore?templates=sbt

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp

# End of https://www.toptal.com/developers/gitignore/api/sbt
